# IPypeR Test Notebook 01

Some scrap code fragments for testing

In [1]:
# put parent dir on path so can find IPypeR from IPypeR/notebooks folder
import sys
sys.path.append('../')
from IPypeR import *

loading PypeR module dir
ipyper.py evaluated...
loading PypeR.misc module
IPypeR imported ....

In [2]:
%hello

Hello world!

In [4]:
r=ipyper.RProcess()

In [5]:
# check for numpy & pandas in R
print('r.has_numpy: {}'.format(r.has_numpy))
print('r.has_pandas: {}'.format(r.has_pandas))

r.has_numpy: True
r.has_pandas: True

In [6]:
# run R codes
r.run('a <- 3')
r('a <- 3')
r(['a <- 3', 'b <- a*2', 'print(b)'])
#print(repr(r.a))
#print(repr(r.b))

#r('png("abc.png"); plot(1:5); dev.off()') # plotting in R
#from IPython.display import Image
#Image(filename='abc.png')

'try({a <- 3; b <- a*2; print(b)})\r\n[1] 6\r\n'

In [9]:
r.run('a<-3')

'try({a<-3})\r\n'

In [7]:
%%csv
col1,col2,col3
0,1,2
3,4,5
7,8,9

   col1  col2  col3
0     0     1     2
1     3     4     5
2     7     8     9

In [8]:
df = _
df.describe()

           col1      col2      col3
count  3.000000  3.000000  3.000000
mean   3.333333  4.333333  5.333333
std    3.511885  3.511885  3.511885
min    0.000000  1.000000  2.000000
25%    1.500000  2.500000  3.500000
50%    3.000000  4.000000  5.000000
75%    5.000000  6.000000  7.000000
max    7.000000  8.000000  9.000000